.leaflet-container {
  background: inherit !important;
}

.custom_scroll_bar::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 100%;
}
.custom_scroll_bar::-webkit-scrollbar-thumb {
  width: 0.5rem;
  border-radius: 0.5rem;
  background-color: darkgrey;
}

.cursor_default {
  cursor: default !important;
}
